<!DOCTYPE html>
<html>
<head>
	<title>myapp.no - <%= @title %></title>
	<link href='http://fonts.googleapis.com/css?family=Cantarell:regular,italic,bold' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Permanent+Marker' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="/stylesheets/bigprofile.css">
	<link rel="stylesheet" href="/fancybox/jquery.fancybox-1.3.4.css" type="text/css" media="screen" />
	<!--[if lt IE 9]>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
	<script src="/fancybox/jquery.fancybox-1.3.4.pack.js"></script>
	<script src="/fancybox/jquery.easing-1.4.pack.js"></script>
	<script src="/fancybox/jquery.mousewheel-3.0.4.pack.js"></script>
	<script src="http://cloud.github.com/downloads/malsup/cycle/jquery.cycle.all.2.73.js"></script>
	<script type="text/javascript">
	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-20402194-1']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();
	</script>	
</head>
<body>

<section id="main">

	<hgroup>
		<h2>Big Profile Privacy Policy</h2>
	</hgroup>
	
	<ul>
		<li><p>Big Profile will not collect or store any of your data made 
			available to the application. The application requests access to read 
			your data solely to get information needed to automatically tag your 
			photos before uploading them.</p></li>
		<li><p>	Big Profile will not post data on your Facebook profile without your 
			direct user interaction. The application will upload a new profile 
			picture when you hit upload, and it will automatically make this 
			picture your profile picture. The application will also give you the 
			option to post a message to your wall; however, the application will 
			not post any messages automatically.</p></li>
		<li><p>Big Profile will not transmit any user information or data 
			to any other service than Facebook.</p></li>
		<li><p>Big Profile features advertisements from the Apple iAd network and 
			will make requests to Apple to receive advertisements. None of your Facebook 
			information is transmitted to Apple in the process of requesting ads.</p></li>
	</ul>	
	
	<footer>
		<p>This app is created by Jonas Follesø © 2011<br/>
		Feel free to contact me at jonas@follesoe.no if you have any questions or comments.</p>
	</footer>
	
</section>
<script>
	$(document).ready(function() {
		$("#slides").cycle("fade");			
	});	
</script>

</body>
</html>
