<!DOCTYPE html>
<html>
<head>
	<title>myapp.no - <%= @title %></title>
	<link href='http://fonts.googleapis.com/css?family=Cantarell:regular,italic,bold' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>	
	<link rel="stylesheet" href="/stylesheets/screen.css">
	<link rel="stylesheet" href="/fancybox/jquery.fancybox-1.3.4.css" type="text/css" media="screen" />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
	<script src="/fancybox/jquery.fancybox-1.3.4.pack.js"></script>
	<script src="/fancybox/jquery.easing-1.4.pack.js"></script>
	<script src="/fancybox/jquery.mousewheel-3.0.4.pack.js"></script>
	<script src="/script/snowstorm-min.js"></script>
</head>
<body>
	<%= yield %>
</body>
</html>