<section id="main">
	<div id="appicon">
		<a href="http://social.zune.net/redirect?type=phoneApp&id=d2b034b7-dde7-df11-9264-00237de2db9e"><img id="icon" src="/images/SmallMobileAppTile.png" alt="Tile Flood Icon" /></a><br/>	
		<a href="http://social.zune.net/redirect?type=phoneApp&id=d2b034b7-dde7-df11-9264-00237de2db9e">
			<img id="download" src="/images/wp7download.png" width="99" alt="Download Tile Flood from Zune Marketplace" />
		</a>
	</div>
	<div id="screenshotFrame">
		<img id="frame" src="/images/Omnia7Frame.png" alt="Omnia7 Frame" />
		<div id="slides">
			<div><a rel="screenshot" href="/images/Screenshot8.PNG"><img src="/images/Screenshot8.PNG" /></a></div>
			<div><a rel="screenshot" href="/images/Screenshot4.PNG"><img src="/images/Screenshot4.PNG" /></a></div>	
			<div><a rel="screenshot" href="/images/Screenshot7.PNG"><img src="/images/Screenshot7.PNG" /></a></div>	
			<div><a rel="screenshot" href="/images/Screenshot9.PNG"><img src="/images/Screenshot9.PNG" /></a></div>			
			<div><a rel="screenshot" href="/images/Screenshot1.PNG"><img src="/images/Screenshot1.PNG" /></a></div>
			<div><a rel="screenshot" href="/images/Screenshot2.PNG"><img src="/images/Screenshot2.PNG" /></a></div>
			<div><a rel="screenshot" href="/images/Screenshot3.PNG"><img src="/images/Screenshot3.PNG" /></a></div>
			<div><a rel="screenshot" href="/images/Screenshot5.PNG"><img src="/images/Screenshot5.PNG" /></a></div>
			<div><a rel="screenshot" href="/images/Screenshot6.PNG"><img src="/images/Screenshot6.PNG" /></a></div>			
		</div>
	</div>
	
	<hgroup>
		<h1>Tile Flood</h1>
		<h3>Only 0.99$ / 0.99€ / 0.79£ - free trial</h3><br/>
		<h2>A colorful, fun, simple and addictive puzzle game for Windows Phone 7.</h2>
	</hgroup>
	
	<p>The objective of the game is to flood all the tiles on the board in the same color. 
	You start in the top left corner and flood the tiles by selecting one of the six colors. 
	When selecting a color you change the color of the top left tile and any adjacent tile with the same color.</p>
	
	<p>You can choose from 3 board sizes, 2 game modes, and 30 colorful themes. 
	In the time trial mode you can compare your high scores against 
	other players in the online leaderboards.</p>
	
	<meter min="1" max="5">5 out of 5 stars!</meter>
		
	<ul>
		<li><blockquote>“I'm not much of a game player. But, this is totally addicting!”</blockquote></li>
		<li><blockquote>“Best game I've played. Well worth the money!”</blockquote></li>
		<li><blockquote>“Incredibly addictive!”</blockquote></li>
		<li><blockquote>“Really tests your brain and decision making skills.”</blockquote></li>
		<li><blockquote>“Simple concept, but so addictive!”</blockquote></li>
		<li><blockquote>“Best game ever! Very addicting!”</blockquote></li>
		<li><blockquote>“Remarkably simple and very satisfying”</blockquote></li>
	</ul>
	
</section>
<script>
	$(document).ready(function() {
		
		$("#slides").cycle("fade");			
		$("#slides a").fancybox({});		
		
	});
	
</script>

