{
	margin: 0;
	padding: 0;
}

header, footer, aside, nav, article, section, meter {
	display: block;
}

body {
	background-color: Black;
	background-image: url("/images/Backgroundart.png");
	font-family: 'Cantarell', arial, serif; 
	color: White;
}

section#main {
	padding: 45px;
	max-width: 860px;
	background-color: black;
	background: rgba(0, 0, 0, 0.9);
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	margin-bottom: 20px;
	
	border: 1px solid Black;
	border-radius: 20px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
}

img {
	border-style: none;
}

h1 {
	font-family: 'Lobster', arial, serif; 
	font-size: 5.0em;
	font-weight: bold;
	padding: 0px;
	margin: 0px;
}

h2 {
	font-size: 2.3em;
	font-weight: normal;
	line-height: 130%;
	margin-top: 10px;
	margin-bottom: 0px;
}

h3 {
	margin: 0;
	font-family: 'Lobster', arial, serif; 
	font-size: 1.2em;
}

p {
	font-size: 1.12em;
	font-weight: normal;
	line-height: 140%;
	text-align: justify;
}

ul {
	list-style-type: none;
	background-color: red;
	margin-top: 90px;
	margin-bottom: 400px;
	margin-left: 0px;
	margin-right: 0px;
	padding: 0px;
}

li {
	padding: 0px;
	margin: 0px;
	float: left;
}

blockquote {
	font-family: 'Lobster', arial, serif; 
	font-size: 1.7em;
	text-align: center;
	width: 188px;
	padding: 0px;
	margin: 10px;
}

#screenshotFrame {
	float: right;
	margin-left: 10px;
	margin-top: 40px;
}

#frame {
	position: relative;
	z-index: 1;
}

#slides {
	position: absolute;
	margin-top: 80px;
	margin-left: 61px;
	z-index: 2;
}

#slides img {
	width: 280px;
}

#appicon {
	float: left;
	margin-right: 40px;
}

#frame {
	float: right;
	margin-left: 30px;
}

#reviews span {
	display: none;
}