{
	margin: 0;
	padding: 0;
}

header, footer, aside, nav, article, section, meter {
	display: block;
}

body { font-family: 'Ubuntu', arial, serif; }

h1 {
	font-size: 3em;
}

p {
	font-size: 1.2em;
	line-height: 155%;
}