{
	margin: 0;
	padding: 0;
}

header, footer, aside, nav, article, section, meter {
	display: block;
}

body {
	padding: 40px;
	background-color: Black;
	font-family: 'Cantarell', arial, serif; 
	color: White;
}

h1 {
	font-family: 'Lobster', arial, serif; 
	font-size: 5em;
	font-weight: bold;
	margin-bottom: 0px;
}

p {
	font-size: 1.1em;
	font-weight: normal;
	line-height: 140%;
}

blockquote {
	font-style: italic;
}

p strong {
	font-size: 1.8em;
	font-weight: normal;
	line-height: 130%;
}

#appicon {
	float: left;
	margin-right: 40px;
}

#reviews span {
	display: none;
}

#reviews ul {
	padding: 0;
	margin: 0;
}

#reviews li {
	margin: 0;
	list-style-type: none;
}